
body {
    background-color: white;
    margin:0px;
    margin-top: 65px;
    padding: 0px;
    font-family: 'Josefin Sans', sans-serif;
  }
header {
  display: grid;
  grid-template-columns: 2fr auto auto auto auto 2.5fr;
  grid-gap: 2em;
  justify-items: center;
  align-items: center;
  background-color:  white;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  z-index: 10;
}

.logo {
  background-color: white;
  margin: 10px;
  border-radius: 50%;
}
.wrapper {
  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-template-areas:
  "aside"
  "main"
  "footer";
}
aside {
  background-color: black;
  padding: 40px;
  position: relative;
  grid-area: aside;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
  justify-items: center;
  align-items: center;
  grid-gap: 2em;
}
.subhead {
    font-size: 70px;
    color: white;
}
aside > p {
  font-size: 25px;
  color: white;

}
#myimage {
  border-radius: 50%;
  filter: grayscale(100%);
}
#myimage:active {
  filter: grayscale(30%);
  animation: togrey 1ms backwards running;
}
main::before {
  content: '';
  position: absolute;
  background-color: black;
  height: 1fr;
  width: 5px;
  top: 0%;
  bottom: 0%;
  right: 540px;
  z-index: -1;
}
  main {
    background-color: white;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: 4em;
    padding: 20px;
    justify-items: center;
    align-items: center;
    z-index: 2;
    grid-area: main;
  }
  main::after {
    content: '';
    position: absolute;
    background-color: black;
    height: 5px;
    width: 1fr;
    right: 0px;
    left: 0px;
    top: 500px;
    z-index: -1;

  }
  main > h1 {
    color: black;
    font-size: 90px;
  }
  main > div {
    background-color: black;
    border-radius: 20px;
    padding: 50px;
    font-size: 40px;
    font-family: 'Josefin Sans', sans-serif;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    animation: reversescale 400ms;

  }
  main > div::before {

  }
  main > div:nth-child(odd){
    color: white;
  }
  main > div:nth-child(even){
    color: white;
  }

.a {
    text-align: ;
    background-image: url('images/product.jpg');
    background-size: cover;
    padding: 60px 240px 60px 60px;
}

.b {
    background-image: url('images/robo.png');
    background-position: top 20px left 80px;
    padding: 40px 220px 80px 20px;
}
.c {
    background-image: url('images/coding.jpg');
    background-size: cover;
    padding: 50px 130px 150px 30px;
}

.button {
    background-color: white;
    font-size: 20px;
    color: black;
    border-bottom: 4px solid rgb(3,3,3);
    padding: 5px;
    text-decoration: none;
    animation: reverse-bg 800ms forwards, reverse-color

}
main > div:hover {
      animation: scale 500ms forwards;

  }

.button:hover {
    animation: background-color 800ms forwards, color-change 800ms forwards;
}
@keyframes background-color {
      100% {
        background-color: black;
      }
  }
@keyframes color-change {
    100% {
      color: white;
    }
}
@keyframes scale {
    100% {
      transform: scale(1.1);
    }
}
@keyframes reversescale {
    0% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
}
@keyframes move-in {
  100% {
    transform: translateX(50px);
    opacity: 70%;
  }
}

footer {
  background-color: black;
  padding: 30px;
  position: relative;
  display: grid;
  grid-template-columns: 2fr auto auto auto 2fr;
  justify-items: center;
  align-items: center;
  grid-gap: 2em;
  color: rgb(170,170,170);
  z-index: 2;
  grid-area: footer;
}
.fb, .instagram, .linkedin {
  opacity: 70%;
}
.fb:hover, .instagram:hover, .linkedin:hover {
  opacity: 100%;
}
.scrollup {
  background: white;
  position: absolute;
  bottom: 30px;
  right: 30px;
  height: 40px;
  width: 40px;
  border-radius: 50%;

}
.scrollup::before {
  content: "";
  background: black;
  position: absolute;
  top: 25px;
  bottom: 0px;
  left: 5px;
  height: 30px;
  width: 30px;
  transform: rotate(45deg);
  pointer-events: none;
}
.scrollup::after {
  content: "";
  background: black;
  position: absolute;
  bottom: 0px;
  right: 40px;
  height: 120%;
  width: 140%;
  border-radius: 50%;
  pointer-events: none;

}
.scrollup:hover::after {
  opacity: 100%;
  animation: move-in 600ms forwards;

}

html {
  scroll-behavior: smooth;
}
@media (max-width: 767.98px)  {

}
